# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.so

# Virtual Environment
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# Poetry
# poetry.lock is often committed to lock dependencies, but can be ignored.
# poetry.lock
.poetry/
dist/
build/

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo

# OS-specific
.DS_Store
Thumbs.db
ehthumbs.db

# Testing
.pytest_cache/
.coverage
htmlcov/
nosetests.xml
coverage.xml

# Type Checking
.mypy_cache/
.dmypy.json
dmypy.json

# Environment variables
.env
.env.*
!.env.example

# Logs
*.log
